@media screen and (max-width: 400px) {

    .visa-hero-title p {
        display: none !important;
    }

    .visa-hero-title h1 {
        margin-top: -12rem !important;
        padding: 0 .3rem !important;
    }

    .visa-hero-img {
        display: none !important;
    }
}