.tour-snapshot-section {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -30rem;
}

.snapshot-part-1 {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    max-width: 80%;
}

.trip-nav-btn {
    padding: 10px 20px;
    background-color: #EDEDED;
    color: #9e9e9e;
    border-radius: 20px;
}

.trip-nav-active {
    background-color: #18181a;
    color: #d3d3d3;
}

.snapshot-part-2 {
    position: absolute;
    left: 58rem;
    top: -1rem;
    border: 0.5px solid #E1DDDD;
    width: 35%;
    border-radius: 5px;
    padding: 1rem;
}

.snapshot-part-2 .dowload {
    font-size: 1.2rem;
    color: #509eb8;
}

@media screen and (max-width: 1280px) {

    .tour-snapshot-section {
        margin-top: 5rem;
        flex-direction: column;
        row-gap: 1rem;
        min-width: 100%;
    }

    .snapshot-part-2 {
        left: 45rem;
        top: -1rem;
        width: 40%;
    }

}


@media screen and (max-width: 1080px) {
    .tour-snapshot-section {
        margin-top: 5rem;
        flex-direction: column;
        row-gap: 1rem;
        min-width: 100%;
    }

    .snapshot-part-1 {
        max-width: 100%;
        width: 100%;
        justify-content: start;
        padding: 0;
    }

    .trip-nav-head {
        font-size: 1.2rem;
    }

    .snapshot-part-2 {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 400px) {
    .tour-snapshot-section {
        margin-top: 25rem;
        margin-left: .5rem;
        min-width: 100%;

    }

    .snapshot-part-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .trip-nav-head {
        font-size: 1rem;
    }

    .snapshot-part {
        margin-top: 1rem;
    }

    .snapshot-part-2 {
        left: .5rem;
        top: 0rem;
        width: 90%;
    }
}