.mainSearch {
    height: 70vh;
    background: url("/img/holidays/recom-sect.jpg") center/cover no-repeat;
    /* full height section */
}

.search-menu {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -14rem;
}

.search-section-header {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 80%;
    position: relative;
    margin: 3rem 3rem;
}

/* Make part-1 a column so h3 is above h2 */
.search-section-header-part-1 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 0.5rem;
}

.search-section-header-part-1 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    flex: 1.2;
    /* take more space */
}

.search-section-header-part-2 {
    padding-left: 10.5rem;
    margin-top: 3rem;
    flex: 2;
    /* shrink the paragraph area */
}

.search-section-header-part-1-1 h3 {
    font-size: 1.2rem !important;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 400 !important;
}


.search-section-header-part-1-2 h2 {
    font-size: 2.3rem !important;
    color: #FFFFFF;
    line-height: 1.2;
    /* adds breathing space */
    max-width: 100%;
    /* allows full width usage */
}

.search-section-header-part-2 p {
    font-size: 1.2rem !important;
    font-weight: 100 !important;
    color: #FFFFFF !important;
    line-height: 1.5;
}

.search-sub-heading {
    position: relative;
    margin-top: -8rem;
    margin-left: 2.7rem;
    font-size: 2.5rem !important;
    color: #FFF !important;
}

@media screen and (max-width: 1280px) {
    .search-section-header {
        top: 0rem;
        margin: 2rem 2rem;
        width: 90%;
    }

    .search-section-header-part-1-2 h2 {
        font-size: 2.1rem !important;
    }

    .search-section-header-part-2 {
        padding-left: 7rem;
        margin-top: 2rem;
    }

    .search-sub-heading {
        margin-top: -5rem;
        margin-left: 1.5rem;
        font-size: 2.2rem !important;
    }

}

@media screen and (max-width: 1080px) {
    .search-section-header {
        top: 0rem;
        margin: 1.5rem 1.5rem;
        width: 95%;
        flex-direction: column;
        row-gap: 1rem;
    }

    .search-section-header-part-1-2 h2 {
        font-size: 2rem !important;
    }

    .search-section-header-part-2 {
        padding-left: 0rem;
        margin-top: 0rem;
    }

    .search-sub-heading {
        margin-top: -4rem;
        margin-left: 1rem;
        font-size: 2rem !important;
    }

}

@media screen and (max-width: 400px) {
    .search-section-header {
        top: 0rem;
    }

    .search-section-header-part-1-2 h2 {
        font-size: 1.9rem !important;
    }

    .search-section-header-part-2 {
        display: none;
    }

    .search-sub-heading {
        margin-top: -3rem;
        margin-left: 1rem;
    }
}