.accordion,
.faq {
    margin: 4rem 4rem;
}

.expand-all {
    padding: 15px;
    margin-left: 78rem;
    color: #3790ae;
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (max-width: 400px) {

    .accordion,
    .faq {
        margin: 1rem;
    }

    .expand-all {
        margin-left: 15.5rem;
    }
}